/build/
/build-*/
/cmake-build-*/
/out/
/dist/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app

*.dSYM/
*.su
*.idb
*.pdb

*.log

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.iml
.vs/
*.vcxproj*
*.sln

/tests/build/
coverage/
*.gcda
*.gcno
*.gcov

/deps/
/third_party/build/

*.generated.*
*.gen.*

.cache/

.conan/
/vcpkg/buildtrees/
/vcpkg/packages/
/vcpkg/installed/

*.swp
*.swo
*~
/fasm/*
quant-self-hosted/
out
__pycache__
